.d3files-list {
    list-style-type: none;
}

.d3files-item {
    margin-right: 6px;
 }

.d3preview-image-content {
    overflow: auto;
}

.krajee-default.file-preview-frame .kv-file-content,  .file-drop-zone {
    overflow: auto;
}

.file-preview-image {
    font: inherit !important;
    color: inherit !important;
}