.d3files-list {
    list-style-type: none;
}

.d3files-item {
    margin-right: 6px;
 }

.file-preview-image {
    font: inherit !important;
    color: inherit !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: inherit !important;
}

.kv-fileinput-caption {
    display: none !important;
}

.file-caption-main {
    text-align: center;
}
